
.App-content {
  background-color: rgb(15, 209, 209);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-content a{
  text-decoration: none;
  padding: 20px;
  font-size: xx-large;
  font-weight: bold;
  color: blueviolet;
  
}

.App-title{
  color: blueviolet;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 2rem;
}


.App-navbar{
  display: flex;
  min-width: 100vh;
  flex-direction: column;
}






