.App {
  text-align: center;
}


.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content a{
  color: white;
  text-decoration: none;
  padding: 20px;
}

.App-content a h1:hover{
  cursor: pointer;
}

.App-content nav{
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  column-gap: 5px;
}

.App-content nav a{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}


