*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.ListContainer {
    column-count: 1;
}

@media (min-width: 320px) {
    .ListContainer{
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .ListContainer{
        column-count: 3;
    }
}
